@model Covid19.ViewModels.RptCovid19ExViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<ol class="breadcrumb" style="margin-top:20px; margin-bottom:10px">
    <li><a href="#" onclick="window.history.back()"><i class="fa fa-home"></i> รายงานผู้ที่รายงานสุขภาพ (เฝ้าระวัง COVID-19)</a></li>
    <li class="active">รายละเอียด</li>
</ol>

<div class="panel panel-primary" style="margin-top:10px; margin-bottom:10px">
    <div class="panel-heading">
        <h3 class="panel-title">
            รายละเอียด
        </h3>
    </div>
    <div class="panel-body">
        <label><u>ข้อมูลผู้รายงาน</u></label>
        <div class="row">
            <div class="col-sm-4">
                <label>ชื่อ - นามสกุล</label> : @Model.FULLNAME
            </div>
        </div>
        @if (Model.HISTORY != null && Model.HISTORY.Count() > 0)
        {
            <hr />
            <label><u>ข้อมูลการเดินทางไปต่างประเทศของตนเอง</u></label>
            <div class="row">
                <div class="col-sm-4">
                    <label>ประเทศที่เดินทางไปยังหรือแวะผ่าน</label> : @Model.COUNTRY_TXT
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>วันที่เดินทางออกจากประเทศไทย</label> : @Model.DEPARTURE_DT_TXT
                </div>
                <div class="col-sm-4">
                    <label>เที่ยวบินที่เดินทางไป</label> : @Model.DEPARTURE_FLIGHT
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>วันที่เดินทางกลับถึงประเทศไทย</label> : @Model.ARRIVAL_DT_TXT
                </div>
                <div class="col-sm-4">
                    <label>เที่ยวบินที่เดินทางกลับ</label> : @Model.ARRIVAL_FLIGHT
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-result" style="width:100%">
                            <thead>
                                <tr>
                                    <th width="20">ลำดับ</th>
                                    <th>วันที่รายงาน</th>
                                    <th>อาการไข้ (&#8451;)</th>
                                    <th>อาการอื่น ๆ</th>
                                    <th>สัมผัสผู้ป่วย</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var item in Model.HISTORY)
                                    {
                                <tr>
                                    <td class="text-center">@i</td>
                                    <td>@item.REPORT_DT_TXT</td>
                                    <td>@item.HAS_FLU</td>
                                    <td>@item.SYMTOMS_TXT</td>
                                    <td>@item.CLOSE_PATIENT_FLAG_TXT</td>
                                </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        @if (Model.HISTORY2 != null && Model.HISTORY2.Count() > 0)
        {
            <hr />

            <label><u>ข้อมูลการเดินทางไปต่างประเทศของบุคคลใกล้ชิด</u></label>
            <div class="row">
                <div class="col-sm-4">
                    <label>ประเทศที่เดินทางไปยังหรือแวะผ่าน</label> : @Model.COUNTRY_TXT2
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>วันที่เดินทางออกจากประเทศไทย</label> : @Model.DEPARTURE_DT_TXT2
                </div>
                <div class="col-sm-4">
                    <label>เที่ยวบินที่เดินทางไป</label> : @Model.DEPARTURE_FLIGHT2
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>วันที่เดินทางกลับถึงประเทศไทย</label> : @Model.ARRIVAL_DT_TXT2
                </div>
                <div class="col-sm-4">
                    <label>เที่ยวบินที่เดินทางกลับ</label> : @Model.ARRIVAL_FLIGHT2
                </div>
            </div>
            <label>ชื่อผู้เดินทางไปต่างประเทศ</label>
            <div class="row">
                <div class="col-sm-4">
                    <label>1</label> @Model.COMPANION_NAME1
                </div>
                <div class="col-sm-4">
                    <label>เกี่ยวข้องเป็น</label> : @Model.COMPANION_RELATION1
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>2</label> @Model.COMPANION_NAME2
                </div>
                <div class="col-sm-4">
                    <label>เกี่ยวข้องเป็น</label> : @Model.COMPANION_RELATION2
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>3</label> @Model.COMPANION_NAME3
                </div>
                <div class="col-sm-4">
                    <label>เกี่ยวข้องเป็น</label> : @Model.COMPANION_RELATION3
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-result" style="width:100%">
                            <thead>
                                <tr>
                                    <th width="20">ลำดับ</th>
                                    <th>วันที่รายงาน</th>
                                    <th>อาการไข้</th>
                                    <th>อาการอื่น ๆ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int x = 1;
                                    foreach (var item in Model.HISTORY2)
                                    {
                                        <tr>
                                            <td class="text-center">@x</td>
                                            <td>@item.REPORT_DT_TXT</td>
                                            <td>@item.HAS_FLU</td>
                                            <td>@item.SYMTOMS_TXT</td>
                                        </tr>
                                        x++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

        @if (Model.HISTORY_NO_TRAVEL != null && Model.HISTORY_NO_TRAVEL.Count() > 0)
        {
            <hr />
            <label><u>รายงานสุขภาพประจำวัน กรณีไม่ได้เดินทางไปต่างประเทศ</u></label>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-result" style="width:100%">
                            <thead>
                                <tr>
                                    <th width="20">ลำดับ</th>
                                    <th>วันที่รายงาน</th>
                                    <th>อาการไข้ (&#8451;)</th>
                                    <th>อาการอื่น ๆ</th>
                                    <th>สัมผัสผู้ป่วย</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var item in Model.HISTORY_NO_TRAVEL)
                                    {
                                        <tr>
                                            <td class="text-center">@i</td>
                                            <td>@item.REPORT_DT_TXT</td>
                                            <td>@item.HAS_FLU</td>
                                            <td>@item.SYMTOMS_TXT</td>
                                            <td>@item.CLOSE_PATIENT_FLAG_TXT</td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn btn-default title-default-small" type="button" onclick="window.history.back()"><i class="fa fa-chevron-circle-left"></i> ย้อนกลับ</button>
            </div>
        </div>
    </div>
</div>
